In [1]:
people = {
    "first": ["Karthik", 'Ajith', 'Moni'], 
    "last": ["Raja", 'Dheiva', 'Raja'], 
    "email": ["KarthikRaja@gmail.com", 'AjithDheiva@email.com', 'MonisihRaja@email.com']
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)
df

     first    last                  email
0  Karthik    Raja  KarthikRaja@gmail.com
1    Ajith  Dheiva  AjithDheiva@email.com
2     Moni    Raja  MonisihRaja@email.com

In [4]:
df['last'] == 'Raja'    # returns a serieds of booleans

0     True
1    False
2     True
Name: last, dtype: bool

In [5]:
df[df['last'] == 'Raja']  # or

     first  last                  email
0  Karthik  Raja  KarthikRaja@gmail.com
2     Moni  Raja  MonisihRaja@email.com

In [6]:
filt = df['last'] == 'Raja'

In [7]:
df[filt]

     first  last                  email
0  Karthik  Raja  KarthikRaja@gmail.com
2     Moni  Raja  MonisihRaja@email.com

In [8]:
df.loc[filt]

     first  last                  email
0  Karthik  Raja  KarthikRaja@gmail.com
2     Moni  Raja  MonisihRaja@email.com

In [9]:
df.loc[filt, 'email']

0    KarthikRaja@gmail.com
2    MonisihRaja@email.com
Name: email, dtype: object

### Logical Operators    AND - & , OR - |

In [10]:
filt = (df['last'] == 'Raja') & (df['first'] == 'Moni')   # must enclose with brackets

In [11]:
df.loc[filt]

  first  last                  email
2  Moni  Raja  MonisihRaja@email.com

In [12]:
df.loc[filt,'email']

2    MonisihRaja@email.com
Name: email, dtype: object

In [13]:
filt = (df['last'] == 'Dheiva') | (df['first'] == 'Moni')

In [14]:
df.loc[filt]

   first    last                  email
1  Ajith  Dheiva  AjithDheiva@email.com
2   Moni    Raja  MonisihRaja@email.com

In [15]:
df.loc[filt, 'email']

1    AjithDheiva@email.com
2    MonisihRaja@email.com
Name: email, dtype: object